<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <p class="title-order">Đơn hàng chờ xác nhận</p>
    <table class="tbl-order table table-striped">
        <thead>
            <tr>
            <th class="order-stt">Stt</th>
            <th class="order-name">Tên hàng</th>
            <th class="order-number">Số lượng</th>
            <th class="order-total">Tổng tiền</th>
            <th class="order-status">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="order-confirm">
                    Đã xác nhận
                </td>
            </tr>
        </tbody>
    </table>
</div>