<footer >
      <hr class="p-0 m-0 b-0">
      <div class="container">
        <div class="row">

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Trợ giúp</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Thanh toán</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Dịch vụ</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Chinh sách</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Chính sách hoàn trả</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Điều khoản sử dụng</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Công ty</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Đăng nhập</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Đăng ký</a></li>
            </ul>
          </div>

          <div class="col-3 mt-4 mb-4">
            <h6 class="text-uppercase font-weight-bold mb-4">Địa chỉ văn phòng</h6>
            <p class="text-muted mb-4">Khu II, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ. Điện thoại: 0379830470 - 0948935476</p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
	  

    </footer>