{{#if message}}
    <div class="toastify on toastify-right toastify-top" aria-live="polite"
        style="background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61)); transform: translate(0px, 0px); top: 50px;">
   {{message}}
</div>
{{/if}}
<script>
    setTimeout(()=>{
        $('.toastify').hide()
    },3000)
</script>