<div style="display: flex;justify-content: center;align-items: center;">
    <p>
       <img src="{{url}}" alt="Girl in a jacket" style="width: 900px;height:900px">
    </p>
    
</div>
<div style="height: 400px;"></div>