<div id="form-creat">
    <p class="creat-title">THÊM SẢN PHẨM MỚI</p>
    <form class="form-creat" method="post" action="creat/store">
       
        <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control bord" name="name_content" />
            <label class="form-label" for="form6Example3">Tên sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" id="form6Example4" class="form-control bord" name="total" />
            <label class="form-label" for="form6Example4">Giá sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form6Example5" class="form-control bord" name="img"/>
            <label class="form-label" for="form6Example5">Hình ảnh</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form6Example4" class="form-control bord" name="type" />
            <label class="form-label" for="form6Example6">Loại sản phẩm</label>
        </div>

        <div class="form-outline mb-4">
            <textarea class="form-control bord" id="form6Example7" rows="4" name="detail"></textarea>
            <label class="form-label" for="form6Example7">Mô Tả sản phẩm</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4 btn-creat">Thêm Sản Phẩm</button>
    </form>
</div>