<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://atavist-migration-2.newspackstaging.com/wp-content/uploads/2017/10/rolex3-1507118525-74.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>

      <div class="col-sm-6 text-black">

        <div class="d-flex justify-content-center h-custom-2 login-page">

          <form style="width: 23rem;" method="post" action="/login">

            <h3 class="fw-normal mb-3 pb-3 mt-4" style="letter-spacing: 1px;">ĐĂNG NHẬP</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email</label>
              <input type="email" id="form2Example18" class="form-control form-control-lg" name="email"/>
              
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Mật khẩu</label>
              <input type="password" id="form2Example28" class="form-control form-control-lg" name="password"/>
              
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">Đăng nhập</button>
            </div>

            {{!-- <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> --}}
            <p>Bạn chưa có tài khoản? <a href="/register/" class="link-info">Đăng ký ngay</a></p>

          </form>

        </div>

      </div>
    </div>
  </div>
</section>